body {
  width: 100%;
  background: linear-gradient(135deg, #A7EBF2, #54ACBF, #26658C, #023859, #011C40);
}

.box {
  animation: fadeIn 2s infinite;
}

@keyframes fadeIn { 
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

div {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  padding-top: 12px;
}

p {
  padding: 30px;
  text-align: center;
}
